:root {
   --c-body-bg: #061E3E;
   --c-body-text: #097ECC;

   --ff-body-text: 'izoard_softregular', 'Times New Roman', Helvetica, sans-serif;

   --padding-x: 1.875rem;
   --padding-y-n: 3.75rem;
   --padding-y-s: 1rem;

   @include breakpoint( md ) {
      --padding-x: 3.75rem;
      --padding-y-s: 1.875rem;
   }

   --logo-y: 2rem;

   @include breakpoint( md ) {
      --logo-y: 2.625rem;
   }
}